<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssettoServerBuilder.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AssettoServerBuilder.Settings1>
            <setting name="pathServerBase" serializeAs="String">
                <value />
            </setting>
            <setting name="pathPackedServer" serializeAs="String">
                <value />
            </setting>
            <setting name="pathAiFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="pathExtraConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="aiCarsAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pathOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="serverName" serializeAs="String">
                <value />
            </setting>
            <setting name="tcpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="httpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModifyEntryList" serializeAs="String">
                <value>True</value>
            </setting>
        </AssettoServerBuilder.Settings1>
    </userSettings>
</configuration>